/*********************************/
/*LOGIN para que no me de problemas el area privada*/
/**********************************/
#imgPrincipal{
    float:left;
    width:66%;	
    position:relative;
}

/* Texto y boton sobre imagen */

.textoRegistro p{
    position:absolute;
    z-index:10;
    color:white;
    top:15px;
    left:30px;
    font-weight:bold;
    font-size: 1.4em;
    width: 44%;
}

.botonRegistro{
    cursor:pointer;
}

.texto_boton{
    position:absolute;
    z-index:5;
    top:65px;
    left:330px;
    color:white;
    background-color: #993333;
    padding:10px;
    font-weight: bold;
    font-size: 1em;
}

/* Fin texto y boton sobre imagen */

#login{
    float:left;
    width:32%;
    margin-left: 14px;
}
#tab1.main.inner-block #colIzq #cabRegistro{
    padding: 6px 15px 28px;
    width: 100%;
    border-bottom: 2px solid #6699cc; 
}
#cabAcceso, #cabRegistro{
/*    background: none repeat scroll 0 0 #993333;*/
/*    padding: 6px 15px 28px;
    width: 100%;
    border-bottom: 2px solid #993333; */
}	

#cabAcceso img{
    float:left;	
}

 #tab1.main.inner-block #colIzq #cabRegistro p{
    float:left;
    padding-left:6px;
    padding-top:4px;
    text-transform: uppercase;
    font-weight: bold;
    color:#6699cc;
    font-size: 1em;
}

#mainContainer{
    min-width: 1024px;
}

#formLogin input{
    width:100%;
}

#camposLogin{
    margin-left:10px;
}

.boton_enviar input{
    margin-top:35px;
    background: #6699cc;
    border:none;
    color:white;
}

#formRegister{
    display:none; /* Para el boton de registro */
    margin-top: 30px;
    width:66%;
}

#formRegister input{
    width:100%;
    margin-top:10px;
}

#camposRegistro label{
    display: block;
    margin-bottom: 30px;
    margin-top: 25px;
    width: 66%;
}

.boton_enviar{
    clear:both;
    float:right;
}

.left{
    float:left;
    margin-top:20px;
    padding-left: 15px;
    width:210px;
    text-align: right;
}

.left > label {
    font-size: 0.96em;
     float:left;
}

.inputs{
    margin-top:28px;
    float:right;
    width:465px;
}


input[type="checkbox"]{
    float:left;
    width:10px !important;
}

#politica{
    float:left;
    width:100%;
}
#politica p{
    float: left;
    padding-left: 17px;
    padding-top: 9px;
}
.alerta{
    color: red;
    float: left;
    margin-left: 214px;
    margin-top: 16px;
}
/*********************************/
/*AREA PRIVADA / MI PERFIL*/
/**********************************/

.info-box.row > ul {
    display: block;
    float: left;
    width: 101%;
    margin-top:0;
    margin-bottom:20px;
}
.info-box.row li {
    float: left;
    text-align: center;
    width: 33%;
    text-transform: uppercase;
    padding:10px;
    background: #ccc;
    padding: 13px 0;
}

#margen{
    border-style: none solid;
    border-color: white;
    border-width: 2px;
}

#userData #camposRegistro .left label{
    display: block;
    margin-bottom: 23px;
    margin-top: 17px;
    width: 85%;
}

#colIzq{
    float: left;
    margin: 40px 0;
    width: 70%;
}

#colIzq input{
    border-radius:5px;
}
#colIzq input[type='submit']{
    border-radius:5px;
    padding: 5px;
}

#colDcha{
    float:right;
    width:30%;
    margin: 70px 0;
}

.inputs {
    float: left;
    margin-top: 28px;
    width: 393px;

}
.inputs2{
    margin-top:20px;
}


.inputs2 input{
    float: left;
    width: 60%;
}

input{
    margin-bottom:20px;
    width:480px;
}

.boton_enviar{
margin-right: 20px;
}

.boton_enviar input{
background: none repeat scroll 0 0 transparent;
border: 2px solid #6699cc;
color: black;
margin-top:5px;
}

.boton_enviar input:hover{
background: #6699cc;
border: 3px solid #6699cc;
color: #fff;
margin-top:5px;
}

#avatar{
width: 240px;
height: 240px;
background:#6699cc;
float:right;
display:block;
border-radius:5px;
}

.avatar{
background: none repeat scroll 0 0 #993333;
//border: 3px solid salmon;
float: right;
margin-top: 10px;
padding: 4px 4px 4px 40px;
width: 240px;
}

.avatar p{
display: block;
font-weight: bold;
padding: 5px 15px 5px;
text-transform: uppercase;
width: 200px;
color:white;
}

.left{
 width: 30%;
}
.fileUpload {
    width: 210px;
    height: 40px;
   /* background: url(https://lh6.googleusercontent.com/-dqTIJRTqEAQ/UJaofTQm3hI/AAAAAAAABHo/w7ruR1SOIsA/s157/upload.png);*/
    overflow: hidden;
    background:url("../css/img/boton_examinar.png")no-repeat 0 0;
    margin-left: 82px;
    
}
.fileUpload input.guarda {
    cursor: pointer;
    opacity: 0 !important;
}
/*.guarda{
background: transparent;
border: 3px solid #993333;
float: right;
margin-top: 27px;
width: 240px;
padding:8px;
}*/

.inner-block{
padding:0;
}

.menu_secundario{
border-bottom: solid 3px #6699cc;
}

#tabs > li {
width: 30%;
border-radius: 5px 5px 0 0;
border-color: #6699cc;
}



#tabs .medio{
    margin: 0 2px 0 2px;
}

#tabs li:hover{
    background: #6699cc;
    border: 3px solid #6699cc;
}

#tabs li a{
    display:block;
    text-align: center;
}

#tabs li a:hover{
    color:white;
}

#current{
    background:#6699cc;
}

.blanco{
    color:white;
}

.faqs {
border-bottom: 2px solid #6699cc;
float: left;
margin-left: 13px;
padding: 5px 5px 5px 15px;
width: 683px;
font-weight: bold;
margin-top:3px;
}

.faqs dt{
    color:#6699cc;
}

.flechaAbajo{
float: right;
padding-left: 5px;
padding-top: 4px;
}

#cambiarContrasena .left{
width:33%;
margin-top:-8px;
}

/*********************************/
/*AREA PRIVADA / CURSO ACTUAL / ALUMNO*/ 
/**********************************/
#tab2.main.inner-block #mainContainer.main.inner-block p,
#tab3.main.inner-block p {
    width: 100%;
    padding: 20px;
    font-size:20px;
    text-align: center;
}
#tab2.main.inner-block #mainContainer.main.inner-block p a:hover{
    text-decoration: underline;
}
#tituloModulo{
/*background: #993333 none repeat scroll 0 0;*/
color: #000;
display: block;
font-weight: bold;
height: 40px;
padding: 12px 30px;
width: 100%;
border-bottom: 2px solid #6699cc;
}
.letraGrande{
font-size: 1.3em;
}

h4.paddingLeft{
    font-size: 0.9em;
}


.headerMod {
    margin-top:15px;
}
.headerMod .titleCursoImg {
    float: left;
    margin: 16px 0 0 0;
    width: 3%;
}

.headerMod h3{
    float: left;
    margin-bottom: 25px;
    padding-top: 15px;
    text-transform: uppercase;
    width: 70%;
}

.headerMod h4{
    clear: both;
    font-weight: normal;
    margin: 20px;
    padding-top: 20px;
    text-align: left;
    text-transform: none;
    width: 100%;
    font-size: 1.1em;
}
#tab2.main.inner-block #mainContainer.main.inner-block .headerMod .boton {
    float: left;
    width: 20%;
   
    padding: 3px;
   
}

#tab2.main.inner-block #mainContainer.main.inner-block .headerMod .boton a {    
    text-align: center;
    text-transform: uppercase;
    display: block;
    border: 2px solid #6699cc;
    border-radius: 7px;
    font-weight: bold;
    display: inline-block;
    height: auto;
    padding: 5px 10px;
    width: 100%;
}
#tab2.main.inner-block #mainContainer.main.inner-block .headerMod .boton a:hover {
    background: #6699cc;
    color:#fff;
    
}
#tab2.main.inner-block #mainContainer.main.inner-block .headerMod .boton a p {
    font-size: 12px;
    font-weight: bold;
    padding: 5px;
}


#currentd{
  background: #eee; 
  display: inline-block;
  height: 100%;
  opacity: 1;
  width: 100%;
}

/*Bloque izquierda*/
.bloqueIzq{
    float:left;
    width:65%;
    min-height: 730px;
}
.bloqueIzq .info-box .tablaModulos ul.lista_modulos li .modulo {
    opacity: 0.5;
}
.bloqueIzq .tablaModulos ul.lista_modulos{
    width: 100%;
    display: inline-block;
    margin: 10px 0 0 0;
}

.bloqueIzq .tablaModulos ul.lista_modulos li{
    width: 45%;
    display: inline-block;
    
    border:2px solid #999;
    border-radius: 5px;
    margin:15px 10px;
}

#tab2.main.inner-block #mainContainer.main.inner-block .bloqueIzq .tablaModulos ul.lista_modulos li .modulo p{
    font-size: 14px;
    padding: 5px;
}
.bloqueIzq .tablaModulos ul.lista_modulos li .modulo .imagenMod img{
    margin: 0 auto;    
}
.bloqueIzq  .tablaModulos ul.lista_modulos li .modulo input.botonAcceder {
    color: #000;
    cursor: pointer;
    padding: 5px;
    width: 120px;
    margin: 10px auto;
    border-radius: 5px;
}

.bloqueIzq  .tablaModulos ul.lista_modulos li .modulo input.botonAcceder:hover {
    background: #6699cc none repeat scroll 0 0;
    color: #fff;
    cursor: pointer;
    padding: 5px;
    width: 120px;
}
/*Bloque derecha*/
.bloqueDcha {
    background: #eee; 
    border: 1px solid #ccc;
    position:relative;
    float: left;
    height: auto;
    margin-left: 20px;
    width: 32%;
}

.bloqueDcha .contentd .descripcionModulo {
    min-height: 600px;
}

.bloqueDcha .contentd .descripcionModulo .modulo {
    float: left;
    width: 50%;
    padding: 3px 10px;
}
.bloqueDcha .contentd .descripcionModulo .modulo .imagenMod img{
    margin: 0 auto;
}

.bloqueDcha .contentd .descripcionModulo .modulo a {
  display: inline-block;
    text-align: center;
     padding: 0 12px;
}

.bloqueDcha .contentd .descripcionModulo .modulo a:hover {
  text-decoration: underline;
}
.bloqueDcha #formularioEjercicios{
    margin-top:0px;
    clear: both;
}
.bloqueDcha #formularioEjercicios legend{
    text-align: center;
    font-size: 14px;
    padding: 10px 2px;
    text-decoration: underline;
}
.bloqueDcha #formularioEjercicios label{
    font-size: 14px;
    padding: 0 20px;
    text-align: left;
    float:left;
    width: 30%;
}
.bloqueDcha  #formularioEjercicios input{
    width: 60%;    
    float:left;
}
.bloqueDcha  #formularioEjercicios textarea{
    width: 60%;   
    height: 80px;
    margin-bottom:20px;
}
.bloqueDcha  #formularioEjercicios .fileUpload {
    background: rgba(0, 0, 0, 0) url("../css/img/boton_subirEjercicio.png") no-repeat scroll 0 0;
    height: 40px;
    margin-left: 82px;
    overflow: hidden;
    width: 210px;
}
.bloqueDcha  #formularioEjercicios input[type='submit']{
margin: 20px;
width: 90px;
cursor:pointer;
padding: 5px;
}
.bloqueDcha  #formularioEjercicios input[type='submit']:hover{
    background:#6699cc; 
    cursor:pointer;
    color:#fff;
}

.bloqueDcha #formularioEjercicios p{
text-transform: uppercase;
text-align: center;
}

.bloqueDcha input{
    border-radius:5px;
}

/*********************************/
/*AREA PRIVADA / CURSOS FINALIZADOS*/ 
/**********************************/
#tab3.main.inner-block ul.curso_finalizado {
   margin:30px 15px;
    display:inline-block;
   width: 100%;
}
#tab3.main.inner-block ul.curso_finalizado li {
   float:left;
   width: 23%;
   text-align: center;
   border: 2px solid #ccc;
   border-radius: 10px;
   padding: 5px;
   margin: 10px 5px 10px 4px;
}
#tab3.main.inner-block ul.curso_finalizado li .envoltura {
    border: 2px solid #6699cc;
    border-radius: 7px;
    min-height:180px;
    padding: 15px 7px;
}
#tab3.main.inner-block ul.curso_finalizado li .datosCursoFinalizado {
    text-align: center;
    padding: 15px 5px;
    
}
#tab3.main.inner-block ul.curso_finalizado li .envoltura .datosCursoFinalizado p {
    font-size: 13px;
    padding: 0;
}
.imagenCursoFinalizado img {
    margin: 0 auto;
}
/*********************************/
/*AREA PRIVADA / LISTADO CURSOS / PROFESOR*/ 
/**********************************/
.contenedor-total .menu_secundario.profesor {
    border-bottom: 3px solid #66cccc;
}
.profesor #cabAcceso, #cabRegistro {
    border-bottom: 2px solid #66cccc;
    padding: 6px 15px 28px;
    width: 100%;
}

.profesor #cabAcceso p, #cabRegistro p {
    color: #66cccc;
    float: left;
    font-size: 1em;
    font-weight: bold;
    padding-left: 6px;
    padding-top: 4px;
    text-transform: uppercase;
}
.profesor .faqs {
    border-bottom: 3px solid #66cccc;
    float: left;
    font-weight: bold;
    margin-left: 13px;
    margin-top: 3px;
    padding: 5px 5px 5px 15px;
    width: 683px;
}

.profesor .boton_enviar input {
    background: transparent;
    border: 3px solid #66cccc;
    color: black;
    margin-top: 5px;
}
.profesor .boton_enviar input:hover {
     background: #66cccc none repeat scroll 0 0;
    border: 3px solid #66cccc;
    color: #fff;
    margin-top: 5px;
}
.profesor #avatar {
    background: #66cccc none repeat scroll 0 0;
    display: block;
    float: right;
    height: 240px;
    width: 240px;
}
.profesor #tituloModulo{
background: #6F4BAD none repeat scroll 0 0;
color: white;
display: block;
font-weight: bold;
height: 40px;
padding: 12px 30px;
width: 100%;
}

.profesor .modulo > a {
float: left;
font-weight: bold;
padding-left: 19px;
padding-top: 44px;
}



.profesor #formularioEjercicios input{
width: 250px;
margin: 0 auto;
margin-top:15px;
padding:7px;
}

.profesor #formularioEjercicios input[type='submit']{
margin: 23px;
width: 68px;
}

.profesor #formularioEjercicios{
margin-top:0px;
}

.profesor #formularioEjercicios p{
text-transform: uppercase;
text-align: center;
}

.profesor .letraGrande{
font-size: 1.3em;
}

.profesor #contenedorDescripcion{
margin-top:10px;
}

.profesor h4.paddingLeft{
    font-size: 0.9em;
}
.profesor .modulo *{
    float:left;
}

.profesor .modulo p{
     margin: 40px 0 0 10px;
    font-size: 1.3em;
}

.profesor .modulo{
    border-bottom: 3px solid #993333;
    display: inline-block;
    margin-bottom: -2px;
    padding: 0 10px;
    width: 100%;
    opacity: 0.5;
}
.profesor #contenedorDescripcion .modulo{
    opacity: 1;
}
.profesor .modulo input{
    float: right;
    margin-top: 45px;
    padding: 7px;
    width: 114px;
}

.profesor .modulo input.botonAcceder{
    padding: 5px;
    width: 120px;
    cursor: pointer;
}

.profesor #currentd input.botonAcceder{
    padding: 5px;
    width: 120px;
    cursor: pointer;
    color:#000;
}
.profesor #currentd input.botonAcceder:hover{
    padding: 5px;
    width: 120px;
    cursor: pointer;
    color:#fff;
    background: #993333;
}

.profesor .tablaModulos li{
    list-style-type: none;
}
.profesor .titleCursoImg {
    float: left;
    margin: 16px 4px 0 0;
    width: 3%;
}

.profesor .headerMod h3{
    float: left;
    margin-bottom: 25px;
    padding-top: 15px;
    text-transform: uppercase;
    width: 30%;
}

.profesor .headerMod h4{
    margin: 0 20px;
    text-align: left;
    text-transform: none;
    width: 60%;
    clear: both;
    padding-top: 20px;
}
.profesor .headerMod .boton {
    border: 3px solid #000;
    float: left;
    width: 20%;
    margin-top: 10px;
    padding: 3px;
}

.profesor .headerMod .boton a {    
    text-align: center;
    text-transform: uppercase;
    display: block;
    color:red;
}
.profesor .headerMod .boton a:hover {
    background: red;
    border:3px solid red;
    color:#fff;
    
}
.profesor .headerMod .boton a p {
    font-weight: bold;
    
}
.profesor .tablaModulos{
    margin-top:25px;
}

.profesor .tablaModulos li:first-child{
    border-top:solid 3px #993333;
}
.imagenMod > img{
    padding:15px 0;
}
.profesor #currentd > p {
    font-size: 1.3em;
    font-weight: bold;
    color:#000;
}
.profesor .bloqueIzq{
    float:left;
    width:65%;
}

.profesor .bloqueDcha{
   float: right;
   height: auto;
   width: 34%;
}
.profesor #moduloScroll {
    border-left: 3px solid #993333;
    border-right: 3px solid #993333;
    border-bottom: 3px solid #993333;
    margin-top: 25px;
    position: absolute;
    background: #fff;
    padding-bottom: 10px;
    
}

.profesor #moduloScroll.fixed{
   position: fixed;
   top: 40px;
   width: 26%;
}
//.margen{margin-top:50px}
// DESCRIPCION MODULO

.profesor .descripcionModulo{
    width:100%;
    height:620px;
    display: none;
}

.profesor #currentd{
    background: #fff;
    border-top:solid 2px #cccccc;
    opacity: 1;
}

.profesor #current{
    background: #cccccc;
}
.profesor .notificaciones{
    margin:20px 0;
}
.profesor .notificaciones .boton_mensaje{
    display: inline-block;
    width: 1000px;
    background: #5ab1b1;
    border:2px solid #66cccc;
    border-radius: 10px;
    padding: 5px;
    text-align: center;
}

.boton_mensaje li{
    text-align:left;
}

.profesor .notificaciones a {
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    color:#fff;
    
}
.msj_no_inscrito{
    text-align: center;
    font-weight: bold;
    font-size: 1.2em;
    margin-top: 55px;
    
}

.titListado{
    text-align:left;
    border:medium none;
    margin-top:30px;
    background:#66cccc none repeat scroll 0 0;
    color: #fff;
    display: block;
    float: none;
    font-size: 17px;
    font-weight: 600;
    margin-bottom: 10px;
    min-height: 25px;
    padding: 10px 20px;
    width: 100%;
}

.listado li{
    border-bottom:solid;
    padding: 15px;
    font-size:15px;
}