/*********************************/
/*LOGIN para que no me de problemas el area privada*/
/**********************************/


#imgPrincipal{
    float:left;
    width:66%;	
    position:relative;
}

/* Texto y boton sobre imagen */

.textoRegistro p{
    position:absolute;
    z-index:10;
    color:white;
    top:15px;
    left:30px;
    font-weight:bold;
    font-size: 1.4em;
    width: 44%;
}

.botonRegistro{
    cursor:pointer;
}

.texto_boton{
    position:absolute;
    z-index:5;
    top:65px;
    left:330px;
    color:white;
    background-color: #993333;
    padding:10px;
    font-weight: bold;
    font-size: 1em;
}

/* Fin texto y boton sobre imagen */

#login{
    float:left;
    width:32%;
    margin-left: 14px;
}

#cabAcceso, #cabRegistro{
    background: none repeat scroll 0 0 #993333;
    padding: 6px 15px 28px;
    width: 100%;
}	

#cabAcceso img{
    float:left;	
}

#cabAcceso p, #cabRegistro p{
    float:left;
    padding-left:6px;
    padding-top:4px;
    text-transform: uppercase;
    font-weight: bold;
    color:white;
}

#mainContainer{
    min-width: 1024px;
}

#formLogin input{
    width:100%;
}

#camposLogin{
    margin-left:10px;
}

.boton_enviar input{
    margin-top:35px;
    background: #993333;
    border:none;
    color:white;
}

#formRegister{
    display:none; /* Para el boton de registro */
    margin-top: 30px;
    width:66%;
}

#formRegister input{
    width:100%;
    margin-top:10px;
}

#camposRegistro label{
    display: block;
    margin-bottom: 30px;
    margin-top: 25px;
    width: 66%;
}

.boton_enviar{
    clear:both;
    float:right;
}

.left{
    float:left;
    margin-top:20px;
    padding-left: 15px;
    width:210px;
}

.left > label {
    font-size: 0.96em;
     float:left;
}

.inputs{
    margin-top:28px;
    float:right;
    width:465px;
}


input[type="checkbox"]{
    float:left;
    width:10px !important;
}

#politica{
    float:left;
    width:100%;
}
#politica p{
    float: left;
    padding-left: 17px;
    padding-top: 9px;
}
.alerta{
    color: red;
    float: left;
    margin-left: 214px;
    margin-top: 16px;
}
/*********************************/
/*AREA PRIVADA / MI PERFIL*/
/**********************************/

.info-box.row > ul {
    display: block;
    float: left;
    width: 101%;
    margin-top:0;
    margin-bottom:20px;
}
.info-box.row li {
    float: left;
    text-align: center;
    width: 33%;
    text-transform: uppercase;
    padding:10px;
    background: #ccc;
    padding: 13px 0;
}

#margen{
    border-style: none solid;
    border-color: white;
    border-width: 2px;
}

#userData #camposRegistro .left label{
    display: block;
    margin-bottom: 23px;
    margin-top: 17px;
    width: 70%;
}

#colIzq{
    float: left;
    margin: 40px 0;
    width: 70%;
}

#colDcha{
    float:right;
    width:30%;
    margin: 40px 0;
    
   
}

.inputs {
    float: left;
    margin-top: 28px;
    width: 393px;

}
.inputs2{
    margin-top:20px;
}


.inputs2 input{
    float: left;
    width: 60%;
}

input{
    margin-bottom:20px;
    width:480px;
}

.boton_enviar{
margin-right: 20px;
}

.boton_enviar input{
background: none repeat scroll 0 0 transparent;
border: 3px solid #993333;
color: black;
margin-top:5px;
}

.boton_enviar input:hover{
background: #993333;
border: 3px solid #993333;
color: #fff;
margin-top:5px;
}

#avatar{
width: 240px;
height: 240px;
background:#993333;
float:right;
display:block;
}

.avatar{
background: none repeat scroll 0 0 #993333;
//border: 3px solid salmon;
float: right;
margin-top: 10px;
padding: 4px 4px 4px 40px;
width: 240px;
}

.avatar p{
display: block;
font-weight: bold;
padding: 5px 15px 5px;
text-transform: uppercase;
width: 200px;
color:white;
}

.left{
 width: 30%;
}

.guarda{
background: transparent;
border: 3px solid #993333;
float: right;
margin-top: 27px;
width: 240px;
padding:8px;
}

.inner-block{
padding:0;
}

.menu_secundario{
border-bottom: solid 3px #993333;
}

#tabs > li {
width: 30%;
}

#tabs a{
display:block;
}

.faqs {
border: 3px solid #993333;
float: left;
margin-left: 13px;
padding: 5px 5px 5px 15px;
width: 683px;
font-weight: bold;
margin-top:3px;
}

.flechaAbajo{
float: right;
padding-left: 5px;
padding-top: 4px;
}

#cambiarContrasena .left{
width:33%;
margin-top:-8px;
}

/*********************************/
/*AREA PRIVADA / CURSO ACTUAL / ALUMNO*/ 
/**********************************/

#tituloModulo{
background: #993333 none repeat scroll 0 0;
color: white;
display: block;
font-weight: bold;
height: 40px;
padding: 12px 30px;
width: 100%;
}

.modulo > a {
float: left;
font-weight: bold;
padding-left: 19px;
padding-top: 44px;
}



#formularioEjercicios input{
width: 250px;
margin: 0 auto;
margin-top:15px;
padding:7px;
}
#formularioEjercicios input[type='submit']{
margin-right: 23px;
width: 68px;
}
#formularioEjercicios{
margin-top:0px;
}
#formularioEjercicios p{
text-transform: uppercase;
text-align: center;
}

.letraGrande{
font-size: 1.3em;
}

#contenedorDescripcion{
margin-top:10px;
}

h4.paddingLeft{
    font-size: 0.9em;
}
.modulo *{
    float:left;
}

.modulo p{
     margin: 40px 0 0 10px;
    font-size: 1.3em;
}

.modulo{
    border-bottom: 3px solid #993333;
    display: inline-block;
    margin-bottom: -2px;
    padding: 0 10px;
    width: 100%;
    opacity: 0.5;
}
#contenedorDescripcion .modulo{
    opacity: 1;
}
.modulo input{
    float: right;
    margin-top: 45px;
    padding: 7px;
    width: 114px;
}

.modulo input.botonAcceder{
    padding: 5px;
    width: 120px;
    cursor: pointer;
}

#currentd input.botonAcceder{
    padding: 5px;
    width: 120px;
    cursor: pointer;
    color:#000;
}
#currentd input.botonAcceder:hover{
    padding: 5px;
    width: 120px;
    cursor: pointer;
    color:#fff;
    background: #993333;
}

.tablaModulos li{
    list-style-type: none;
}
.titleCursoImg {
    float: left;
    margin: 16px 4px 0 0;
    width: 3%;
}

.headerMod h3{
    float: left;
    margin-bottom: 25px;
    padding-top: 15px;
    text-transform: uppercase;
    width: 30%;
}

.headerMod h4{
    margin: 0 20px;
    text-align: left;
    text-transform: none;
    width: 60%;
    clear: both;
    padding-top: 20px;
}
.headerMod .boton {
    border: 3px solid #000;
    float: left;
    width: 20%;
    margin-top: 10px;
    padding: 3px;
}

.headerMod .boton a {    
    text-align: center;
    text-transform: uppercase;
    display: block;
    color:red;
}
.headerMod .boton a:hover {
    background: red;
    border:3px solid red;
    color:#fff;
    
}
.headerMod .boton a p {
    font-weight: bold;
    
}
.tablaModulos{
    margin-top:25px;
}

.tablaModulos li:first-child{
    border-top:solid 3px #993333;
}
.imagenMod > img{
    padding:15px 0;
}
#currentd > p {
    font-size: 1.3em;
    font-weight: bold;
    color:#000;
}
.bloqueIzq{
    float:left;
    width:65%;
}

.bloqueDcha{
   float: right;
   height: auto;
   width: 34%;
}
#moduloScroll {
    border-left: 3px solid #993333;
    border-right: 3px solid #993333;
    border-bottom: 3px solid #993333;
    margin-top: 25px;
    position: absolute;
    background: #fff;
    padding-bottom: 10px;
    
}

#moduloScroll.fixed{
   position: fixed;
   top: 40px;
   width: 26%;
}
//.margen{margin-top:50px}
// DESCRIPCION MODULO

.descripcionModulo{
    width:100%;
    height:620px;
    display: none;
}

#currentd{
    background: #c1b1f7;
    border-top:solid 2px #cccccc;
    opacity: 1;
}

#current{
    background: #cccccc;
}

/*********************************/
/*AREA PRIVADA / LISTADO CURSOS / PROFESOR*/ 
/**********************************/

.profesor #tituloModulo{
background: #6F4BAD none repeat scroll 0 0;
color: white;
display: block;
font-weight: bold;
height: 40px;
padding: 12px 30px;
width: 100%;
}

.profesor .modulo > a {
float: left;
font-weight: bold;
padding-left: 19px;
padding-top: 44px;
}



.profesor #formularioEjercicios input{
width: 250px;
margin: 0 auto;
margin-top:15px;
padding:7px;
}

.profesor #formularioEjercicios input[type='submit']{
margin-right: 23px;
width: 68px;
}

.profesor #formularioEjercicios{
margin-top:0px;
}

.profesor #formularioEjercicios p{
text-transform: uppercase;
text-align: center;
}

.profesor .letraGrande{
font-size: 1.3em;
}

.profesor #contenedorDescripcion{
margin-top:10px;
}

.profesor h4.paddingLeft{
    font-size: 0.9em;
}
.profesor .modulo *{
    float:left;
}

.profesor .modulo p{
     margin: 40px 0 0 10px;
    font-size: 1.3em;
}

.profesor .modulo{
    border-bottom: 3px solid #993333;
    display: inline-block;
    margin-bottom: -2px;
    padding: 0 10px;
    width: 100%;
    opacity: 0.5;
}
.profesor #contenedorDescripcion .modulo{
    opacity: 1;
}
.profesor .modulo input{
    float: right;
    margin-top: 45px;
    padding: 7px;
    width: 114px;
}

.profesor .modulo input.botonAcceder{
    padding: 5px;
    width: 120px;
    cursor: pointer;
}

.profesor #currentd input.botonAcceder{
    padding: 5px;
    width: 120px;
    cursor: pointer;
    color:#000;
}
.profesor #currentd input.botonAcceder:hover{
    padding: 5px;
    width: 120px;
    cursor: pointer;
    color:#fff;
    background: #993333;
}

.profesor .tablaModulos li{
    list-style-type: none;
}
.profesor .titleCursoImg {
    float: left;
    margin: 16px 4px 0 0;
    width: 3%;
}

.profesor .headerMod h3{
    float: left;
    margin-bottom: 25px;
    padding-top: 15px;
    text-transform: uppercase;
    width: 30%;
}

.profesor .headerMod h4{
    margin: 0 20px;
    text-align: left;
    text-transform: none;
    width: 60%;
    clear: both;
    padding-top: 20px;
}
.profesor .headerMod .boton {
    border: 3px solid #000;
    float: left;
    width: 20%;
    margin-top: 10px;
    padding: 3px;
}

.profesor .headerMod .boton a {    
    text-align: center;
    text-transform: uppercase;
    display: block;
    color:red;
}
.profesor .headerMod .boton a:hover {
    background: red;
    border:3px solid red;
    color:#fff;
    
}
.profesor .headerMod .boton a p {
    font-weight: bold;
    
}
.profesor .tablaModulos{
    margin-top:25px;
}

.profesor .tablaModulos li:first-child{
    border-top:solid 3px #993333;
}
.imagenMod > img{
    padding:15px 0;
}
.profesor #currentd > p {
    font-size: 1.3em;
    font-weight: bold;
    color:#000;
}
.profesor .bloqueIzq{
    float:left;
    width:65%;
}

.profesor .bloqueDcha{
   float: right;
   height: auto;
   width: 34%;
}
.profesor #moduloScroll {
    border-left: 3px solid #993333;
    border-right: 3px solid #993333;
    border-bottom: 3px solid #993333;
    margin-top: 25px;
    position: absolute;
    background: #fff;
    padding-bottom: 10px;
    
}

.profesor #moduloScroll.fixed{
   position: fixed;
   top: 40px;
   width: 26%;
}
//.margen{margin-top:50px}
// DESCRIPCION MODULO

.profesor .descripcionModulo{
    width:100%;
    height:620px;
    display: none;
}

.profesor #currentd{
    background: #fff;
    border-top:solid 2px #cccccc;
    opacity: 1;
}

.profesor #current{
    background: #cccccc;
}
