/*Bloque izquierdo*/

.bloqueIzq{
    width:70%;
    float:left;
}

.headerMod{
    margin-top:10px;
    background-color: #801A1A;
    font-weight:bold;
    height:40px;
}

.headerMod p{
    padding:15px 0px 0px 15px;
    color:#fff;
    font-weight:bold;
}

 .tablaModulos > div{
    border-bottom:solid #801A1A;
}

.modulo > div{
    display:inline-block;
}

.modulo{
    height:120px;
}
.imagenMod{
    float:left;
    margin:20px;
}

.texto{
   float:left;
   margin-top:50px;
}

.botonAcceder{
   opacity:0;
   float:left;
   margin-left:300px;
   margin-top:33px;
}

.tablaModulos>div:hover .botonAcceder{
    opacity:1;
    border-color:#801A1A;
}

/* Bloque derecho */

.bloqueDcha{
    margin-left:10px;
    width:28%;
    float:left;
}

.headerDcha{
    margin-top:10px;
    background-color: #cc99cc;
    font-weight:bold;
    height:40px;
    border-left:solid #cc99cc;
}

.headerDcha p{
    padding:15px 0px 0px 15px;
    color:#fff;
    font-weight:bold;
}

