/********************************
*  RESET GENERAL
********************************/

html, body, p, div, h1, h2, h3, h4, a, img, ul, li, ol, span, header, nav, footer, section, article, object, video {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  color: #333;
  border: none;
  background: transparent;
  font-size: 100%;
  vertical-align: baseline;
  font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, img{
  display: block;
}

body {
  background: #FFFFFF;
}

html, body {
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
}

a {
  text-decoration: none;
}

img a, a img {
  border: none;
}

img{

    max-width:100%;
    height: auto;
    display: block;
}

ul, ol {
  list-style: none outside none;
}

/********************************
*  RESET para RESPONSIVE
********************************/

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.row:after {
  clear: both;
  content: '';
  display: block;
  height: 0;
  position: relative;
}

/********************************
*  ESTRUCTURAS DE BLOQUE
********************************/

/*Cabecera*/
header {
   /* background: none repeat scroll 0 0 #fff;*/
    display: inline-block;
    float: left;
    margin: 0 auto;
    padding: 0;
    width: 100%;
}

.full-block {
    width: 100%;
    clear: both;
}

.top-block {
    width: 1024px;
    margin: -40px auto 0;
    padding: 0;
    overflow: hidden;
    position: relative;
}

.inner-block {
    width: 1024px;
    margin: auto;
    padding: 40px 0 0 0;
    overflow: hidden;
    position: relative;    
}

.inner-block-alternative {
    width: 1024px;
    margin: auto;
    padding: 0;
    overflow: hidden;
    position: relative;
}

@media (max-width: 1130px){
    .top-block, .inner-block,
    .inner-block-especial,
    .inner-block-alternative {
       width: 90%;
    }
}

.contenedor-total {
    float: left;
    overflow: hidden;
    position: relative;
    width: 100%;
}

footer {
    background: none repeat scroll 0 0 #333;
    width: 100%;
    margin-top: 40px;
}

.sr-only {
    border: 0 none;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.fondoBlanco {
    background: #fff;
}

.fondo_gris {
   /*background: none repeat scroll 0 0 #dde1e1;*/
}

/********************************
*  FORMATO GENERAL (font, color,)
********************************/
body {
    color: #333;
    background:#f7f7f7;
    font: 14px/20px "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

body {
    background: #fff url("img/background_header.png") repeat-x scroll 0 0
}

h1 {
    display: inline-block;
    font-size: 3em;
    margin: 10px auto;
    padding: 0;
    text-align: center;
    text-transform: uppercase;
    width: 100%;   
}

h2 {
    display: inline-block;
    font-size: 2em;
    margin: 10px auto;
    text-align: center;
    width: 100%;   
    font-weight: normal;
}

h3 {
    font-size: 1.8em;
}

h4 {    
    font-size: 1.6em;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
}

p, li {
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 0.9375em; /*15px*/
    line-height: 1.125;
    letter-spacing: 1px;
    color: #666666;
}

a:hover {
    color: #333;
    text-decoration: none;
}

/********************************
*  CONTENIDO Cabecera
********************************/
#contenedor_header {
    margin: auto;
    width: 1024px;
}

#logo {    
    float: left;
    margin: 0;
    padding: 10px 0 5px 0;
    width: 319px;
}

#logo h1, #logo p {
    margin: 0;
    padding: 0;
    position: absolute;
    top: -500px;
    width: 0;
}

#menu_top {
    float: right;
    right: 0;
    width: 400px;
}

.caja_redes_sociales {
    float: right;
    padding: 0;
    border-collapse: separate;
    border-spacing: 0 2px;
    display: table;
    height: 37px;
    overflow: hidden;
}

.caja_redes_sociales ul {
    display: table-row;
    float: none;
    list-style: outside none none;
    margin: 0;
    padding: 0;
}    

.caja_redes_sociales ul li {
    display: table-cell;
    float: none;
    height: 37px;
    overflow: hidden;
    padding-left: 2px;
    vertical-align: top;
}

.caja_redes_sociales_texto span {
   
    display: block;
    font-size: 11px;
    height: 35px;
    line-height: 15px;
    padding: 2px 5px 0 0;
    text-align: right;
    width: 100%;
}

.caja_redes_sociales ul li.caja_redes_sociales_texto {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 37px;
    margin: 0 0.3% 0 0;
    min-width: 0;
    overflow: hidden;
    padding: 0 5px 0 0;
    text-align: right;
    vertical-align: top;
    width: 100%;
}
/********************************
*  iconos de las redes sociales
********************************/

/*icono me gusta*/
.caja_redes_sociales a {
    border: 1px solid #000;
}
.caja_redes_sociales a.ico_like {
    display: block;
    height: 37px;
    overflow: hidden;
    position: relative;
    top: 0;
    width: 39px;
}
.caja_redes_sociales a.ico_like img {
    position: relative;
    top: 0;
}

.caja_redes_sociales ul li a.ico_like:hover img, .caja_redes_sociales ul li a.ico_like:focus img {
    top: -37px;
}
 /*Facebook*/
.caja_redes_sociales a.ico_facebook {
    display: block;
    height: 37px;
    overflow: hidden;
    position: relative;
    top: 0;
    width: 39px;
}

.caja_redes_sociales a.ico_facebook img {
    position: relative;
    top: 0;
}

.caja_redes_sociales ul li a.ico_facebook:hover img, .caja_redes_sociales ul li a.ico_facebook:focus img {
    top: -37px;
}

/*Twitter*/
.caja_redes_sociales a.ico_twitter {
    display: block;
    height: 37px;
    overflow: hidden;
    position: relative;
    top: 0;
    width: 39px;
}
.caja_redes_sociales a.ico_twitter img {
    position: relative;
    top: 0;
}

.caja_redes_sociales ul li a.ico_twitter:hover img, .caja_redes_sociales ul li a.ico_twitter:focus img {
    top: -37px;
}

/********************************
*  CONTENIDO NAVEGACION
********************************/

nav {
 background: none repeat scroll 0 50% #333;
    float: left;
   /* overflow: hidden;*/
    width: 100%;
}

#contenedor_menu_principal {
    display: table;
    margin: auto;
    width: 1024px;
}

nav.menu_principal ul {
    display: table-row;
    list-style: outside none none;
    margin: 0;
    padding: 0;
    width: 100%;
}

nav.menu_principal ul li {
    display: table-cell;
    font-size: 0.8em;  /*11.2px*/
    line-height: 40px;
    list-style: outside none none;
    padding:0 5px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;   
}

nav.menu_principal ul li a {
    color: #fff;    
}

nav.menu_principal ul li span.v {
    font-weight: bold;
    left: 150px;
    position: relative;
    top: -24px;
}


nav.menu_principal .menuLogin::after {
    background: none repeat scroll 0 0 #000;
    content: " ";
    display: block;
    height: 100%;
    left: 100%;
    position: absolute;
    top: 0;  
}

nav.menu_principal ul li.menuLogin{
    background: none repeat scroll 0 0 #000;
    padding: 0;
    position: relative;
}

nav.menu_principal .menuLogin a {
    background: url("../css/img/ico_candado.png") no-repeat scroll 0 0 transparent;
    display: inline-block;    
  
    margin-left: 5px;
    padding: 0 5px 0 45px;
    
}


/********************************
*  Colores de la navegación
********************************/
nav.menu_principal ul > li.item-1:hover, nav.menu_principal ul > li.item-1.activo {
  background: none repeat scroll 0 0 #a4a2a2;
}

nav.menu_principal ul > li.item-2:hover, nav.menu_principal ul > li.item-2.activo {
  background: none repeat scroll 0 0 #6699cc;
}

nav.menu_principal ul > li.item-3:hover, nav.menu_principal ul > li.item-3.activo {
  background: none repeat scroll 0 0 #993333;
}

nav.menu_principal ul > li.item-4:hover, nav.menu_principal ul > li.item-4.activo {
  background: none repeat scroll 0 0 #999933;
}

nav.menu_principal ul > li.item-5:hover, nav.menu_principal ul > li.item-5.activo {
  background: none repeat scroll 0 0 #cc99cc;
}

nav.menu_principal ul > li.item-6:hover, nav.menu_principal ul > li.item-6.activo {
  background: none repeat scroll 0 0 #cc6666;
}

nav.menu_principal ul > li.menuLogin:hover, nav.menu_principal ul > li.menuLogin.activo {
  background: none repeat scroll 0 0 #66cccc;
}


/********************************
*  Desplegable cuando estás logado
********************************/

nav.menu_principal ul ul.dropdown-menu{
    display:none;
    position: absolute;
    top:40px;
    background-color: #ccc;
    width: 100%;
}

nav.menu_principal ul ul.dropdown-menu li:before{
    content: " > "; 
    color: #fff;
}

nav.menu_principal ul ul.dropdown-menu li{
    margin: 0;
    width: 100%;    
}

nav.menu_principal ul ul.dropdown-menu li a{
    background: none;
    padding: 0 5px;    
}

/********************************
*  MENU SECUNDARIO NUESTROS CURSOS
********************************/
.menu_principal ul li ul {
  height: auto;
  left: 0;
  margin: 0;
  overflow: hidden;
  padding: 1% 0 3% 12%;
  position: absolute;
  width: 94%;
  z-index: 999999;
} 

nav.menu_principal .submenu_principal {
    background: none repeat scroll 0 0 #993333;
    width: 100%;
}

nav.menu_principal ul li a + ul.submenu_principal {
  display: none; 
}

nav.menu_principal ul li ul li {
    display: block;
    float: left;
    margin: 0 1%;
    padding: 0;
    text-align: left;
    width: 23%;
    font-size: 0.9em;
}

nav.menu_principal .submenu_principal li {
    min-width: 20%;
    overflow: hidden;
    width: auto;
    border: none;
}

nav.menu_principal .submenu_principal li p{
    color: #fff;
    line-height: 20px;
    text-transform: uppercase;

}


/********************************
*  CONTENIDO titulo de la pagina y breamcrumb
********************************/
.breadcrumb_title{
    background-color: #fff;
}

.breadcrumb {
    height: auto;
    overflow: hidden;
    padding: 20px 0;
    width: 100%;
}

.breadcrumb .location {
    display: inline-block;
}

.breadcrumb .location ul {
    font-size: 0.8em;
    font-weight: bold;
    overflow: hidden;
    text-align: left;
}

.breadcrumb .location li:first-child::before {
    content: " ";
}
.breadcrumb > .location li::before {
    color: #404040;
    content: "/";
}
.breadcrumb li:first-child::before {
    content: "";
}
.breadcrumb .location li {
    float: left;
}

.breadcrumb .location a {
    color: #404040;
    display: inline-block;
    margin-right: 6px;    
}

.breadcrumb .image {
    display: none;
    width: 10%;
}

.breadcrumb h2 {
    float: left;
    font-size: 2.1em;
    line-height: 1.2;
    margin: 0;
    text-align: left;
    width: auto;
}

/********************************
*  IMAGEN O SLIDER 
********************************/
.destacado_principal {
    margin: 0;
    padding: 0;
    position: relative;
}

.destacado_principal .destacado {
    display: block;
    height: auto;
    position: relative;
}

.destacado_principal .destacado .imagen {
    max-height: 370px;
    overflow: hidden;
}

.destacado_principal .destacado .imagen img {
    width: 100%;
}

.slider{width: 100%;}

.slider_botones{z-index: 999; position: absolute; bottom: 50px; width: 100%; text-align: center;}

.contenedor_slider{width: 100%; position: relative;}
.contenedor_slider div{display: none; float: left;}
.contenedor_slider div:first-child{display: inline-block;}
.contenedor_slider div img{width:100%;}

.slider_botones { bottom: 0;}


.destacado_principal.slider .slider_botones {
    background: #fff;
    border-top: 3px solid #6699cc;
    border-bottom: 3px solid #6699cc;
    bottom: 13%;
    opacity: 0.7;
    padding-top: 6px;
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: 4;
}

.destacado_principal.slider .slider_botones .pause {
    background: url('../css/img/slider-pause.png') no-repeat 0 0 transparent;
}

.destacado_principal.slider .slider_botones .play {
    background: url('../css/img/slider-play.png') no-repeat 0 0 transparent;
}

.destacado_principal.slider .slider_botones .pause, .destacado_principal.slider .slider_botones .play {
    display: none;
}

.destacado_principal.slider .slider_botones .pause.active, .destacado_principal.slider .slider_botones .play.active {
    display: inline-block;
    height: 20px;
    overflow: hidden;
    text-indent: -99999px;
    width: 20px;
    margin-right: 2px;
}

.destacado_principal.slider .slider_botones .slider_nav {
    background: url('../css/img/slider-inactive.png') no-repeat 0 0 transparent;
    display: block;
    height: 20px;
    overflow: hidden;
    text-indent: -99999px;
    width: 20px;
}

.destacado_principal.slider .slider_botones .slider_nav.active {
    background: url('../css/img/slider-active.png') no-repeat 0 0 transparent;
}

.destacado_principal.slider .slider_botones ul, .destacado_principal.slider .slider_botones li {
    display: inline-block;
}
.destacado_principal.slider > ul {
    position: relative;
}

.destacado_principal.slider > ul > li {
    position: absolute;
    width: 100%;
    top: 0;
}

/*.destacado_principal.slider > .destacado {
    display: none;
}*/
/********************************
*  Contenedor debajo del slider
********************************/

.info-box {
    background-color: #ffffff;    
}

.info-box >.row {
    display: table;
    padding: 40px 45px;
}

/********************************
*  Contenido del Footer
********************************/
#contenido_footer {
    margin: auto;
    overflow: hidden;
    padding: 40px 0;
    width: 1024px;
}

.footer_cajas {
    float: left;
    margin: 0;
    width: 33%;
}

.footer_cajas p {
    color: #6699cc;
    font-size: 0.9em;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 10px;
}

.footer_cajas ul {
    width: 80%;
}

.footer_cajas ul li a {
    font-size: 1em;
    line-height: 1.45em;
    margin-bottom: 0.5em;
    color: #fff;
}

.copyright {
    border-bottom: 1px solid #fff;
    clear: both;
    float: right;
}

.copyright span{
    color: #fff;
}

/********************************
*  Css general para los formularios
********************************/

label {
    color:#333;
    font-weight: bold;
    font-size: 0.9em;
    display: block;
    margin: 10px 0;
}

input{
    border:2px solid #000;
    padding: 10px;
    color:#666;
    font-weight: bold;
    display: block;
    background: #fff;
}

input[type="submit"] {
    border: 2px solid #000;
    color: #666;
    display: block;
     padding: 10px;
    font-weight: bold;
    text-transform: uppercase;
    width: 200px;

} 
select {
    -moz-appearance: none;
    background-image: url("../css/img/flecha_abajo.jpg");
    background-position: right center;
    background-repeat: no-repeat;
    border: 2px solid #000;
    color: #666;
    display: block;
    overflow: hidden;
    padding: 10px;
    font-weight: bold;
    width: 200px;
}

/*Pongo esto aquí cris. Sino no tengo manera de hacerlo en todas a la vez sorry*/  

/*.header .dropdown-menu li {
    font-size: 1em;
    margin-bottom: 10px;
}*/
.hide{
    display:none;
}

/********************************
*                HOME
********************************/

/**** BLOQUE DE ICONOS CIRCULOS******/

.contenedor.top-block .info-box ul li{
    float: left;
    width: 20%;
}

#tabs li a {
    color:#fff;
}
.iconoImg > img {
    margin: 0 auto;
}

.contenedor.top-block .info-box ul li a .texto_down h2 {
    font-size: 1.1em;
    font-weight: bold;
    text-transform: uppercase;
}

.contenedor.top-block .info-box ul li a .texto_down > p {
    padding: 0 10%;
    text-align: center;
}

.contenedor.top-block .info-box ul li a:hover{
    opacity: 0.7;
}
.main.inner-block > h2 {
    font-size: 1.3em;
    font-weight: bold;
}
p.centrado {
    text-align: center;
}

/*Caja de estadisticas */
.cajaEstadisticas{
    margin-top: 40px;
}

.cajaEstadisticas ul{
	display: table;
	width: 90%;
	margin: 0 auto;
}

.cajaEstadisticas ul li{
    display: table-cell;
    width: 30%;
    background: red;
    height: auto;
    border-right: 1px solid #fff;
    padding-bottom: 10px;
}

.cajaEstadisticas ul li h3 {
    text-align: center;
    color: #fff;
    font-weight: bold;
    padding: 15px 0 10px 0;
}

.cajaEstadisticas ul li p {
    font-size: 1em; /*15px*/
    text-align: center;
    color: #fff;
    padding: 5px 0 10px 0;
}
.cajaEstadisticas .news {
    font-size: 1.2em;
}

.cajaEstadisticas .caja_newsletter_select .boton {
    border:2px solid #fff;
    cursor: pointer;
    width: 50%;
    margin: 0 auto;
    display: block;
    padding: 6px;
    text-align: center;
    color:#fff;
    text-transform: uppercase;
}
.cajaEstadisticas .caja_newsletter_select .boton:hover {    
    color:#000;
    background: #fff;
    
}

/**** BLOQUE DE NUESTROS CURSOS******/
.main.inner-block .info-box h2 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.3em;
    margin: 20px 0 20px;
}

.cursoPresentacion {
    float: left;
    width: 30%;
    margin: 10px 0 20px;
}

.presenciales {
    color: #cc6633;
}

.online {
    color: #ff3300;
}

.personalizados {
    color: #ffcc00;
}

.main.inner-block .info-box > .cursoPresentacion {
    margin-left: 3%;
}

.cursoPresentacion h3{
    font-size: 1em;
    text-transform: uppercase;
}

.imagenUp {
    width: 95%;
    margin-top: 5px;
}

.infoCurso {
    width: 95%;
}
.cursoPresentacion .infoCurso .textoSinfecha {
    float:left;
    width: 100%;
    padding: 5%;
}
.cursoPresentacion .infoCurso .texto {
    float:left;
    width: 60%;
    padding: 5%;
}

.cursoPresentacion .infoCurso a {
    display: inline-block;
    font-weight: bold;
    padding-top: 10px;
    text-decoration: underline;
    text-transform: uppercase;
}

.cursoPresentacion .infoCurso .fechaCurso{
    float:left;
    width: 40%;
    background-color: #666;
    padding: 5%;
    text-align: center;
}

.cursoPresentacion .infoCurso .fechaCurso p, 
.cursoPresentacion .infoCurso .fechaCurso h4, 
.cursoPresentacion .infoCurso .fechaCurso span{
    color:#fff;
}

.cursoPresentacion .infoCurso .fechaCurso p {
    font-size:0.7em;
    line-height: 125%;
}

.cursoPresentacion .infoCurso .fechaCurso h4 {
    font-size:1.3em;
    line-height: 125%;
}

.cursoPresentacion .infoCurso .fechaCurso span {
    font-size:0.9em;
    font-weight: bold;
}

/**** BLOQUE DE proximamente******/

.main.inner-block-alternative .info-box h2 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.3em;
    margin: 60px 0 20px;
} 

.formularioIndex h3 , .asesoramientoDcha h3{
    font-size: 1em;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.formularioIndex{
    float: left;
    margin:0 0 0 3%;
    width: 47%;
}
.formularioIndex label{
    text-transform: uppercase;
}

.formularioIndex input#nombreCurso {
    width: 92%;
}

.contenedor_Izq , .contenedor_Drcha {
    float: left;
    width: 50%;
}

.formularioIndex input[type="submit"]{
    margin-top: 44px;
    float: right;
    margin-right: 8%;
    background: none repeat scroll 0 0 #fff;
}

.formularioIndex input[type="submit"]:hover{
    color:#fff;
    background: #cc6633;
}

.asesoramientoDcha{
    float: left;
    margin:0 3% 0 0;
    width: 47%;
}

.asesoramientoDcha .bloqueIzq , .asesoramientoDcha .bloqueDcha {
    float: left;
    width: 48.5%;
}

.asesoramientoDcha .bloqueIzq a:hover, .asesoramientoDcha .bloqueDcha a:hover {
    opacity: 0.7;
}

.asesoramientoDcha .bloqueIzq{
    margin:0 3% 0 0;
}
.asesoramientoDcha img {
    width: 100%;
    position: relative;
    left:0;
    top: 0;
}

.asesoramientoDcha .textoDown {
    position: relative;
    right: 0;
    bottom: 30px;
    background: none repeat scroll 0 0 #000;
    padding: 5px 10px 15px 10px;
    opacity: 0.7;	
}

.asesoramientoDcha .textoDown p {
	color:#fff;
	font-weight: bold;
}

/**** BLOQUE DE resultados de la busqueda******/
table {
   // display: none;
    border: 2px solid #ececec;
    border-spacing: 0;
    clear: both;
    margin: 0 auto 35px;
    padding: 5px;
    width: 94%;
}
table.resultados_tabla {
    border: 2px solid #ececec;
    border-spacing: 0;
    clear: both;
    margin: 0 auto 35px;
    padding: 5px;
    width: 94%;   
}

table caption {
    background: none repeat scroll 0 0 #f9b300;
    color: #ffffff;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 10px;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
}

table th {
     border-bottom: 12px solid #ffffff;
    font-style: italic;
    height: 40px;
    padding: 0 5px;
    text-align: center;
    vertical-align: middle;
}

table tr {
    background: none repeat scroll 0 0 #f1f2f4;
    border-bottom: 2px solid #ececec;
}

table tr td {
    border-bottom: 2px solid #ececec;
    min-width: 40px;
    padding: 10px 10px 10px 40px;
    vertical-align: middle;
    text-align: center;
}

table#buscador tbody tr td.left {
    text-align: left;
}

table#buscador a {
    color: blue;
    text-decoration: underline;
}


/*Newsletters*/

.colorbox {
    background-color: rgba(0, 0, 0, 0.8);
    display: none;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 9999999;
}


.popup-container {
    margin: 2.5em auto;
    width: 45%;
}

.popup-container {
    margin: 2.5em auto;
    width: 45%;
}


.cabecera_newsletter {
    background: #f7f7f7;
    color: #5092c9;
    font-size: 1.6em;
    margin: 0 auto;
    padding: 20px 5%;
    width: 100%;
}
.cabecera_newsletter a {
    cursor: pointer;
    float: right;
    position: relative;
    top: -5px;
}

.cabecera_newsletter a img {
    border: medium none;
}
.cabecera_newsletter a img {
    cursor: pointer;
}

.newsletter_form {
    background: #fff;
    height: auto;
    margin: 0 auto;
    overflow: hidden;
    padding: 35px 7% 15px;
    width: 100%;
}

.newsletter_form p:first-child {
    font-size: 1.2em;
    margin: 0;
    padding-bottom: 5px;
}
.lista_newsletter {
    margin-top: 20px;
}

.lista_newsletter li:first-child {
    /*width: 100%;*/
}

.lista_newsletter label {
    display: inline;
}
.lista_newsletter li {
    float: left;
    margin: 1.2em 0 0;
    width: 50%;
}

.lista_newsletter li input {
    float: left;
}
.colorbox input[type="checkbox"] {
    border: medium none;
    padding: 4px 5px;
}
.newsletter_form .boton {
    background-position: 90% -23px;
    float: right;
    margin: 20px 0;
    clear:both;
}

.newsletter_form .boton:hover, .newsletter_form .boton:focus {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: #5092c9;
    background-origin: padding-box;
    background-position: 94% center;
    background-repeat: no-repeat;
    background-size: auto auto;
    color: #fff;
}
.newsletter_form .lista_newsletter li.last{
    float: left;
    width: 100%;
}
.newsletter_form .lista_newsletter li label[for="correo"]{
    float: left;
    width: 25%;
}

.newsletter_form  ul.lista_newsletter li input#correo {
    float:left;
    width: 75%;
}